<h2>Edit Product</h2>
    <main> 
    <div>
        Title : {{productDocument.title}}
    </div> 
    
    <div>
        price : {{productDocument.title}}
    </div> 

    <div>
        quantity : {{productDocument.title}}
    </div> 


    <div>
        Description : {{productDocument.description}}
    </div>

    
</main>