<h2> Inventory Prototype System </h2>

<section class ="products-container">
    <div>
        <a href="/add">Add a product</a>&nbsp;&nbsp;
        <a href="/list">View products</a>&nbsp;&nbsp;
    </div>

</section>