<h2>Product Listing</h2>
 
 <section class="products-container">
     {{#each lists}} 
     <div>
        <p>{{this.title}}
        <a href="/product/edit/{{this._id}}">Edit</a>
        </p>
    </div>
    {{else}}
        No product in database 
     {{/each}}
</section>